body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,caption,cite,code,dfn,th,var,em{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
li{list-style-type:none}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,a img{border:none;}
table,td,tr,th{font-size:12px;}
select{border:1px solid #bbb;margin-right:5px;padding:3px;}
.alR{text-align:right;}
.alL{text-align:left;}
.alC{text-align:center;}
a{color:#555;text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
.red,a.red{color:#c40000;}
.gray,a.gray{color:#999;}
.c5,a.c5{color:#555;}
.c3,a.c3{color:#333;}
.cb,a.cb{color:#3388bb;}
.tre{color:#9e8e82;}
.org{color:#ff7700;}
.blue{color:#4782c3;}
.yel{color:#ffdb3a;}
.czs{color:#c98100;}
.fB{font-weight:bold;}
.fI{font-style:italic;}
.fN{font-weight:normal;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f24{font-size:24px;}
.lh16{line-height:16px;}
.lh18{line-height:18px;}
.lh20{line-height:20px;}
.lh25{line-height:25px;}
.lh30{line-height:30px;}
.lh35{line-height:35px;}
body{font: 12px Arial,Helvetica,sans-serif,Simsun;color: #555;background-color: #f6f6f6;  }
.carttop{background-color: #fff;border-bottom: 1px solid #ddd;height: 48px;padding: 15px 0;  }
.w9{width: 990px;margin: 0 auto;}
.logo2{background: url(../images/zlogo.png) 0 0 no-repeat;width: 295px;height: 44px;display: block;}
.left{float: left;}
.right{float: right;}
.clear{clear:both;}
.clear{clear:both;}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
.hid{display:none;}
.OverH{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ov{overflow:hidden;position:relative;}
.over{overflow:hidden;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.mt5{margin-top:5px;}
.mr5{margin-right:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pt5{padding-top:5px;}
.pr5{padding-right:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.ml10{margin-left:10px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mr10{margin-right:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pl15{padding-left:15px;}
.pl30{padding-left:30px;}
.stp li.on {color: #c40000;}
.stp li{width: 72px;float: left;display: block;height: 40px;}
.stp li.l {
    background: url(../images/o.png) 3px 0 no-repeat;
    width: 130px;
    position: relative;
    margin: 0 -20px;
}
.stp li.on b {
    background-position: right 0;
    color: #fff;
}
.stp b {
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto 5px auto;
    line-height: 28px;
    background: url(../images/o.png) -130px 0 no-repeat;
}
.bgg {
    padding: 20px 0 40px 0;
}
.org {
    color: #ff7700;
}
.redb, .huib, .xhb {
    display: block;
    padding: 0 10px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #c40000;
    border: none;
    height: 30px;
}
.xhb {
    background-color: #fff;
    color: #555;
    border: 1px solid #ddd;
}
.yelbor {
    border: 1px solid #f7d9ac;
    background-color: #fefef1;
    padding: 10px;
}
.rtext {
    border: 1px solid #ddd;
    width: 99%;
    height: 32px;
    text-indent: 5px;
    color: #333;
    line-height: 32px;
    color: #999;
    position: relative;
    z-index: 2;
}
.huib {
    background-color: #aaa;overflow: hidden;
}
.c_tb, .cart_xj {
    margin-top: 20px;
    background-color: #fff;
}
.c_tb th {
    color: #000;
    border-bottom: 2px solid #c40000;
    font-size: 14px;
    text-align: left;
    text-indent: 10px;
    line-height: 35px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
.bld td {
    border-bottom: 1px solid #e5e5e5;
}
.c_tb td {
    padding: 8px 10px;
}
.inputTx {
    border: 1px solid #ddd;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
}
.ert {
    float: left;
}
.c_bz {
    height: 40px;
    width: 360px;
}
.zfu {
    border: 1px solid #ddd;
    margin: 10px 10px 10px 0;
    text-align: center;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
}
.zon {
    border-color: #c40000;
    background: #f5d7d2 url(../images/q.png) right -305px no-repeat;
    color: #c40000;
}
.zfu input {
    display: none;
}
.zon .c3 {
    color: #c40000;
}
.c_tb, .cart_xj {
    margin-top: 20px;
    background-color: #fff;
}
.cart_xj {
    padding: 10px;
}
.h_b {
    height: 26px;
    border: 1px solid #ddd;
}
.ybtn {
    background-color: #dc7821;
    display: inline-block;
    padding: 0 5px;
    width: 120px;
    color: #fff;
}
.ybtn {
    height: 28px;
    line-height: 28px;
    border: none;
    background-color: #f59635;
    text-align: center;
    color: #fff;
}
#amount {
    font-size: 24px;
}
.b_sub, .bigsee {
    height: 50px;
    background-color: #c40000;
    border: 1px solid #b22409;
    line-height: 50px;
    padding: 0 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: "Microsoft Yahei";
    cursor: pointer;
}